.block1-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 1200px;
}
.block1-container img {
    width: 200px;
    height: 200px;
}
.mid {
    width: 750px;
}
.mid h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #ffff;
}
.mid p {
    color: #ffff;
}

.btn2 {
    width: 120px;
    height: 40px;
    background-color: green;
    color: #fff;
    font-size: smaller;
    cursor: pointer;
}
.btn:hover {
    transform: translateY(-4px);
}
.btn2:hover {
    transform: translateY(-4px);
}
